<div class="edit_form">
    <h1>Edit</h1>
    <uib-alert ng-repeat="alert in edit.alerts" type="{{alert.type}}" close="edit.closeAlert($index)" data-ng-bind-html="alert.msg"></uib-alert>
    <div data-ng-show="edit.loading"><h2>Loading...</h2></div>
    <div data-ng-show="!edit.loading">
        <div data-ng-include="edit.formHTML" data-ng-controller="FormCtrl"></div>
        <a class="delete_btn btn btn-danger" data-ng-click="edit.deleteSpace()">Delete</a>
        <a class="cancel_btn" data-ng-click="edit.cancel()">Cancel</a>
        <a class="save_btn btn btn-primary" data-ng-click="edit.save()">Save</a>
    </div>
</div>
